<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Olapy Web 2.0</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.1/bokeh.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.1/bokeh.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div id="app">
</div>

<!-- for prod: -->
{#keep prob by default, not dev #}
{#<script src="{{ url_for('static',filename='build.js') }}"></script>#}
<!-- for dev: -->
<script type="text/javascript" src="http://localhost:8080/static/build.js"></script>

</body>
</html>
